html, body {
	margin:  0;
	padding: 0;
}

div.page {
	height: 100%;
	width:  100%;
}

div.intro {
	background-color: #90EE90;
}

div.introbox {
	/*background-color: green;*/
	height: 40%;
	margin: auto;
}


div.teammates {
	background-color: #1C86EE;

}


div.teammate {
	width: 25%;
	float: left;
}

div.teammate img {
	width: 80%;
	border-radius: 50%;
	margin: 10%;
	box-shadow: 0px 0px 7px 5px #FFFFFF;
}

h1, h2, h3, h4 {
	width: 100%;
	text-align: center;
}

h3 {
	color: grey;
}